@charset "UTF-8";
body {
  font-family: 'Bangers', sans-serif;
  margin: 0; }

.contenedor {
  max-width: 750px;
  margin: auto;
  position: relative; }

.error {
  border: 1px solid  red;
  box-shadow: 0 0 4px red; }

.background {
  background-image: url("../images/background.jpg");
  background-size: cover;
  opacity: .2;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0; }

.logotipo {
  display: inline-block;
  margin: .5em;
  font-size: 3em;
  color: black;
  letter-spacing: 10px; }

.menu {
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: .3em; }

.menu li {
  display: inline-block;
  margin-left: 30px;
  cursor: pointer; }

.menu li:before {
  content: '∘';
  font-size: 50px;
  line-height: 20px;
  color: black; }

.menu a {
  color: black;
  text-decoration: none; }

.con-menu {
  display: none; }

.card {
  background: white;
  width: 50%;
  margin: 0 auto;
  padding: 1em 2em;
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
  margin-bottom: 1em;
  transition: 1s ease all; }

.comments {
  background: white;
  border: 1px solid #ccc;
  box-shadow: inset 0 -10px 10px -10px black;
  height: 200px;
  width: 90%;
  padding: .5em;
  overflow-y: scroll; }

.comment {
  border-bottom: 2px dotted #ccc;
  width: 90%;
  padding: .5em; }

.autor {
  color: #555;
  font-size: 12px; }

.card:hover {
  background: #eee; }

.hide {
  display: none; }

.card-title {
  font-size: 25px;
  text-align: center; }

.margen-superior {
  margin-top: 50px; }

.buscador {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px; }

.buttom {
  padding: .5em 1em;
  background: #f0141e;
  font-family: 'Bangers', sans-serif;
  font-size: 14px;
  color: white;
  border: 3px solid white;
  border-bottom: 3px solid black;
  letter-spacing: 5px;
  cursor: pointer; }

form {
  margin: 1em 0; }

form > input[type^="text"], form > input[type^="password"] {
  width: 100%;
  margin-bottom: 5px;
  height: 1.5em;
  padding: 5px;
  font-size: 16px; }

@media screen and (max-width: 650px) {
  .header {
    text-align: center; }
  .logotipo {
    margin: .5em 0 0 0; }
  .menu {
    position: static;
    display: block; }
  .menu li:first-child {
    margin: 0; }
  .menu ul {
    padding: 0; } }

@media screen and (max-width: 500px) {
  .con-menu {
    display: block; }
  .logotipo {
    font-size: 2em;
    margin: 30px 0; }
  .burguer-button {
    display: block; }
  .portada .contenedor {
    position: static; }
  .header {
    position: static; }
  .header .contenedor {
    position: static; }
  .menu {
    background: rgba(255, 60, 88, 0.9);
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 2;
    bottom: 0;
    right: 0;
    display: flex;
    width: 100%;
    align-items: center;
    transition: .3s; }
  .menu.active {
    left: 0; }
  .menu ul {
    flex: 1; }
  .menu li {
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid white; }
  .menu li:before {
    display: none; }
  .menu li:first-child {
    border-top: 1px solid white; } }
